* {
  box-sizing: border-box;
}

.logout-btn {
  background: none;
  text-align: right;
  padding-right: 50px;
}

.dashname {
  margin-top: 53px;
}

.dashboard-name {
  text-align: center;
  color: white;
}

.quote {
  margin: 0 auto;
  padding: 1em;
  border-left: 5px solid #999;
  list-style: none;
}
.quote:before {
  display: none;
}
.quote:not(:first-of-type) {
  margin-top: 0.5em;
}
.quote p {
  color: #555;
  font-size: 12pt;
  line-height: 1.4;
  font-family: 'PT Serif', Cambria, 'Hoefler Text', Utopia, 'Liberation Serif',
    'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
}
.quote footer {
  margin-top: 0.5em;
  padding: 0;
  color: #777;
  font-size: 12pt;
  text-align: left;
  font-style: italic;
}
.quote footer:before {
  content: '— ';
}
.quote:nth-of-type(even) {
  text-align: right;
  border-left: none;
  border-right: 5px solid #999;
}
.quote:nth-of-type(even) footer {
  text-align: right;
}
.quote:nth-of-type(even) footer:before {
  content: '';
}
.quote:nth-of-type(even) footer:after {
  content: ' —';
}

@element '.quote' and (min-width: 300px) {
  .quote {
    padding: 1em 20% 1em 1em;
  }
  .quote p {
    font-size: 14pt;
  }
  .quote:nth-of-type(even) {
    padding: 1em 1em 1em 20%;
  }
}

@media only screen and (min-width: 700px) {
  .items-list {
    width: 33.333333%;
    float: left;
    padding: 0px 10px;
  }

  .dashboard-protected-data {
    max-width: 1300px;
    padding: 20px 20px;
    margin: 0px auto;
  }
}
