@import url(https://fonts.googleapis.com/css?family=Lato:100, 300, 400);

.logo {
  display: block;
  width: auto;
  height: 80px;
  margin: 30px auto 30px;
}

input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
}

.journal-question {
  font-family: Arial, sans-serif;
  margin-top: 50px;
  color: white;
  font-size: 1.55em;
  font-weight: bold;
  text-align: center;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: white;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: white;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: white;
  font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: white;
}

input::placeholder,
textarea::placeholder {
  color: white;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
  color: white;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
  color: white;
  font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color: white;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: white;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: white;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: white;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: white;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: white;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color: white;
}

body {
  font-family: 'Lato', sans-serif;
  background: white;
  color: #b3aca7;
}

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

input {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: both;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  background: transparent;
}

#submit {
  width: 502px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;

  outline: none;
  cursor: pointer;

  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}

#send-button {
  width: 200px;
  height: 60px;
  text-align: center;
  background-color: white;
  color: #000;
  border: 0;
  font-weight: bold;
  font-size: 70.25%;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

#send-button:hover,
#send-button:focus {
  outline: 0;
  background-color: #ffcc00;
  color: #000;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
