body * {
  box-sizing: border-box;
}

body {
  background-color: #1fcecb;
  font-family: 'Roboto', helvetica, sans-serif;
  padding: 60px 0 0;
  margin: 0;
  font-size: 18px;
}

.logo {
  display: block;
  width: auto;
  height: 80px;
  margin: 0 auto 30px;
}

.login-form {
  width: 400px;
  padding: 40px;
  border-radius: 3px;
  background: white;
  margin: 0 auto;
}

.login-form legend {
  width: 100%;
  line-height: 38px;
  font-size: 35px;
  color: #565656;
  text-align: center;
  letter-spacing: 0;
  margin: 0 auto 45px;
}

.form-input {
  margin: auto;
  width: 300px;
}

input[type='name'],
input[type='email'],
input[type='password'],
button {
  display: block;
  width: 100%;
  height: auto;
  font-size: 18px;
  text-align: left;
  padding: 15px;
  border: 2px solid #e7e7e7;
  border-radius: 3px;
  background: #fcfcfc;
  margin: 10px auto 20px;
  transition: opacity 0.4s;
}

button {
  height: auto;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  color: white;
  background: #15cd72;
  border: 0;
  cursor: pointer;
  margin-bottom: 0;
}

input[type='name']:focus,
input[type='email']:focus,
input[type='password']:focus,
button :focus {
  outline: auto 2px #87ceeb;
  outline: auto 5px -webkit-focus-ring-color;
  box-shadow: 0;
}

button:hover,
button:focus {
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}

.login-form p {
  font-size: 16px;
  text-align: center;
  margin: 10px 0 0;
  color: #ffffff;
}

.login-form a {
  color: #999;
  text-decoration: none;
  border-bottom: 1px solid #bbb;
}

.login-form a:hover {
  border-color: #999;
  /* color: #777; */
}

.form-error {
  font-style: italic;
  text-align: center;
}

.register-link {
  text-align: center;
  color: white;
  /* margin: 20px auto; */
  font-weight: 600;
  border: 0;
  padding: 0;
  margin-bottom: 150px;
  text-decoration: underline;
}

.register-footer a:hover {
  color: #e7f1f9;
}
